   p
    {
        color:blue;
        font-size: 40px;
    
    }
    body {
       
            background-color: lightblue;
        

    } 
    #par{
        color: crimson;
    }
    .first{
        font-style: italic;
    }
 
   video {
    
    width: 400px;;
    height:200PX;
   }
    h1{
  
        TEXT-shadow: 6px 6px 6px black;
    }
           
        
    